@import "../css/commom.css";
@charset "utf-8";
.textOverflow,
.vdobj section > p a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button.btn {
  border: 0px;
  background: transparent;
}
.btn.btn {
  padding: 4px 12px;
  width: auto;
  display: inline-block;
  color: #ffffff;
  background: #3c2415;
}
.btn1 {
  padding: 6px 12px;
  width: auto;
  display: inline-block;
  color: #414142;
  border: 1px solid #9ea0a2;
}
.icon7 {
  background: url("../img/new.png") no-repeat center;
  width: 35px;
  height: 20px;
  display: inline-block;
  margin-right: 1px;
  position: relative;
  top: 3px;
}
.icon8 {
  background: url("../img/hot.png") no-repeat center;
  width: 35px;
  height: 20px;
  display: inline-block;
  margin-right: 1px;
  position: relative;
  top: 3px;
}
.icon9 {
  background: url("../img/jing.png") no-repeat center;
  width: 35px;
  height: 20px;
  display: inline-block;
  margin-right: 1px;
  position: relative;
  top: 3px;
}
.icon10 {
  background: url("../img/white-row.png") no-repeat center;
  width: 25px;
  height: 14px;
  display: inline-block;
  margin-right: 1px;
  position: relative;
  top: 1px;
}
.icon11 {
  background: url("../img/top.png") no-repeat center;
  width: 25px;
  height: 14px;
  display: inline-block;
  margin-right: 1px;
  position: relative;
  top: 1px;
}
/*   popover     */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
.share-wrapper .icn a {
  display: block;
  width: 25px;
  height: 18px;
  background: url('../img/share.png') no-repeat;
  background-size: 250px 300px;
}
.share-wrapper .icn a.share01 {
  background-position: 5px -108px;
}
.share-wrapper .icn a.share02 {
  background-position: -95px -108px;
}
.share-wrapper .icn a.share03 {
  background: url(../img/tieba24.png) 7.5px 0 no-repeat;
  -webkit-background-size: 40px 17.5px;
  background-size: 40px 17.5px;
}
.share-wrapper .icn a.share04 {
  background-position: -44px -107.5px;
}
.share-wrapper .icn a.share05 {
  background-position: -69px -108px;
}
.share-wrapper .icn a.share06 {
  background-position: -122.5px -108px;
}
.share-wrapper .icn a.share07 {
  background-position: -150px -108px;
}
.musics {
  width: 900px;
  float: left;
}
.musics .music {
  padding: 10px;
  box-sizing: border-box;
  margin: 0 0 0 10px;
  width: 290px;
  height: 300px;
  background: #ffffff;
  color: #777777;
  float: left;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  box-shadow: 0px 0px 8px #aaaaaa;
  margin-bottom: 10px;
}
.musics .music:nth-child(3n+1) {
  margin-left: 0px;
}
.musics .music .musicTitile {
  font-size: 16px;
  display: block;
  height: 38px;
  line-height: 38px;
  color: #404142;
}
.musics .music .musicImg {
  height: 200px;
  display: block;
  box-sizing: border-box;
  padding: 16px 0;
  overflow: hidden;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}
.musics .music .musicImg img {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 300px;
  min-height: 200px;
  min-width: 100%;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.musics .music .musicOperate {
  width: 100%;
  border-top: 1px solid #ccced0;
}
.musics .music .musicOperate li {
  width: 21.6666666%;
  line-height: 35px;
  height: 35px;
  float: left;
}
.musics .music .musicOperate li:first-child {
  width: 35%;
}
.comment .commentsObj {
  width: 209px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
aside.another {
  width: 300px;
  float: left;
}
aside.another .uptodate {
  width: 100%;
  margin: 0 0 6px 0;
  -webkit-box-shadow: 0px 0px 8px #bbbbbb;
  -moz-box-shadow: 0px 0px 8px #bbbbbb;
  box-shadow: 0px 0px 8px #bbbbbb;
  padding-bottom: 8px;
}
aside.another .uptodate.topics.comment {
  padding-bottom: 10px;
}
aside.another .uptodate.topics.comment ul li {
  line-height: 18px;
}
aside.another .uptodate .music {
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 10px 10px 0;
  background: #ffffff;
  color: #777777;
  float: left;
}
aside.another .uptodate .music .musicTitile {
  font-size: 16px;
  display: block;
  color: #404142;
}
aside.another .uptodate .music .musicImg {
  height: 179px;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin-bottom: 8px;
}
aside.another .uptodate .music .musicImg img {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 300px;
  min-height: 179px;
  min-width: 100%;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.vdobj {
  width: 300px;
  height: 300px;
  float: left;
  background: #231f20;
  overflow: hidden;
}
.vdobj > strong {
  line-height: 40px;
  color: #f1f1f1;
  padding-left: 10px;
  display: block;
  font-weight: normal;
  font-size: 14px;
  padding-right: 20px;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.vdobj > strong a {
  color: #f1f1f1;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.vdobj section {
  width: 100%;
  height: 260px;
}
.vdobj section > a img {
  width: 100%;
  height: 227px;
  display: block;
}
.vdobj section > p {
  width: 100%;
}
.vdobj section > p a {
  line-height: 33px;
  height: 33px;
  display: block;
  color: #f1f1f1;
  padding-left: 10px;
  font-size: 14px;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.pager {
  text-align: center;
  margin-top: 46px;
}
.pager .pagenavigation {
  display: inline-block;
}
.pager .pagenavigation li {
  height: 40px;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  float: left;
  min-width: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.pager .pagenavigation li.active {
  background: #3c2415;
}
.pager .pagenavigation li.active a {
  color: #ffffff;
}
.pager .pagenavigation li a {
  color: #404142;
  display: inline-block;
  border: 1px solid #beb9b4;
  padding: 4px 15px;
}
/*  vedios  */
.vedios {
  width: 900px;
  float: left;
}
.vedios .vedio {
  padding: 10px;
  box-sizing: border-box;
  margin: 0 0 0 10px;
  width: 290px;
  height: 300px;
  padding: 0px;
  background: #ffffff;
  color: #777777;
  float: left;
  -webkit-box-shadow: 0px 0px 8px #cccccc;
  -moz-box-shadow: 0px 0px 8px #cccccc;
  box-shadow: 0px 0px 8px #cccccc;
  margin-bottom: 10px;
}
.vedios .vedio:nth-child(3n+1) {
  margin-left: 0px;
}
.vedios .vedio > div {
  position: relative;
}
.vedios .vedio > div .vedioImg {
  height: 265px;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.vedios .vedio > div .vedioImg img {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 300px;
  min-height: 265px;
  min-width: 100%;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.vedios .vedio > div .vedioIntr {
  height: 44px;
  background: #231f20;
  line-height: 44px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.vedios .vedio .musicOperate {
  margin: 0 10px;
}
.vedios .vedio .musicOperate li {
  width: 21.666667%;
  line-height: 35px;
  height: 35px;
  float: left;
}
.vedios .vedio .musicOperate li:first-child {
  width: 35%;
}
/* cart 帖子部分  */
.box {
  display: block;
}
.box .box-header {
  background: #3c2415;
  padding: 12px 12px;
  color: #ffffff;
}
.box .box-header ul.fl li {
  padding: 0 20px;
}
.box .box-header ul.fr li {
  padding: 0 30px;
}
.box .box-header a {
  color: #ffffff;
  font-size: 14px;
}
.box .box-body {
  padding: 0px 12px;
  padding-bottom: 30px;
  background: #fff;
}
.carts section {
  padding: 12px 0px;
  border-bottom: 1px dotted #9ea0a2;
}
.carts section .cartAbout li {
  width: 120px;
  text-align: center;
  float: left;
}
.carts section .cartAbout li span {
  color: #808184;
}
.carts section a {
  color: #414142;
  font-size: 14px;
}
.publish_cart_title.btn {
  margin: 30px 0 20px 0;
}
.publish_cart {
  padding: 22px 25px 0 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
}
.publish_cart .form_group {
  margin: 8px 0;
}
.publish_cart .form_group input[type='text'] {
  border: 1px solid #9ea0a2;
  width: 236px;
  height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
}
/*  cart-info  */
.cart-info article.box-body {
  background: none;
  padding-bottom: 0;
}
.cart-info section {
  margin: 0 -12px 0px -12px;
  margin-bottom: 7px;
  border: 1px solid transparent;
}
.cart-info section:last-child {
  margin-bottom: 0px;
}
.cart-info section .aside_left {
  width: 200px;
  background: #d8ccc2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.cart-info section .aside_left > p {
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  border-bottom: 1px dotted #b6b0ab;
}
.cart-info section .aside_left > p span {
  text-align: center;
}
.cart-info section .aside_left > a {
  width: 121px;
  height: 91px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.cart-info section .aside_left > a img {
  height: 100%;
  max-width: 180px;
}
.cart-info section .aside_right {
  width: 998px;
  background: #fff;
  padding: 10px 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cart-info section .aside_right .cartOperate {
  border-top: 1px dotted #ccced0;
}
.cart-info section .aside_right .cartOperate li {
  padding: 4px 12px;
}
.cart-info section .aside_right .cartOperate li a .icon11 {
  height: 20px;
  top: 3px;
}
.cart-info section .cart-content {
  padding: 15px 0 7px 5px;
  text-indent: 5px;
  min-height: 35px;
}
.cart-info section .cart-content p {
  line-height: 30px;
  vertical-align: middle;
}
.cart-info section .cart-content img[src*='ckeditor'][src*='plugins'][src*='smiley'] {
  position: relative;
  top: 6px;
  margin: 0 3px;
}
.cart-info section .cart .cart_title {
  font-size: 16px;
  line-height: 32px;
}
.cart-info section .cart .aboutcreate {
  border-bottom: 1px dotted #ccced0;
}
.cart-info section .cart .aboutcreate > ul li {
  padding: 4px 10px;
  color: #414142;
  height: 20px;
  line-height: 20px;
}
.cart-info section .cart .aboutcreate > ul li:first-child {
  padding-left: 0 ;
}
/* /.cart-onfo end*/
.publish_cart_wraper .aside_left {
  width: 200px;
  height: 100%;
  background: #d8ccc2;
}
.publish_cart_wraper .aside_right {
  height: 272px;
  width: 1000px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
/*  /.music_info */
.music_info {
  width: 890px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 10px;
}
.music_info .box-header {
  background: #3c2415;
  padding: 12px 12px;
  color: #ffffff;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  box-shadow: 0px 0px 8px #aaaaaa;
}
.music_info .box-header ul.fl li {
  padding: 0 20px;
}
.music_info .box-header ul.fr li {
  padding: 0 30px;
}
.music_info .box-header a {
  color: #ffffff;
  font-size: 14px;
}
.music_info .box-body {
  padding: 0px 12px;
  padding-bottom: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  box-shadow: 0px 0px 8px #aaaaaa;
  margin-bottom: 10px;
}
.music_info .box-body .ms {
  width: 870px;
}
.music_info .box-body .ms .ms_title {
  font-size: 16px ;
  line-height: 40px;
  height: 40px;
  padding-left: 10px;
  width: 860px;
  border-bottom: 1px dotted #b2b2b2;
}
.music_info .box-body .ms .musicOperate {
  width: 380px;
}
.music_info .box-body .ms .musicOperate li {
  width: 25%;
  line-height: 35px;
  height: 35px;
  float: left;
}
.music_info .box-body .ms .music-content {
  padding: 30px 10px 10px 10px;
}
.music_info .box-body .ms .music-content .music_con {
  text-indent: 30px;
  font-size: 14px;
  color: #666;
  padding: 10px 0;
}
.music_info .box-body .ms .music-content .music_pic img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.music_info .box-body .ms .music-content > div {
  margin: 5px 15px;
}
.music_info .box-body .ms .ms_footer {
  text-indent: 20px;
  color: #72b572;
  line-height: 40px;
  border-top: 1px dotted #b2b2b2;
  border-bottom: 1px dotted #b2b2b2;
}
.music_info .box-body .ms .ms_footer a {
  font-size: 12px;
}
.music_info .box-body .ms .sharemusic .share-wrapper li {
  width: 25px;
  margin-top: 10px;
}
.music_info .box-body .ms .sharemusic .share-wrapper li:first-child {
  margin-left: 20px;
}
.music_info .footer_comments {
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  box-shadow: 0px 0px 8px #aaaaaa;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.music_info .footer_comments .ms_comment {
  position: relative;
  padding: 0 40px;
}
.music_info .footer_comments .ms_comment .prev {
  background: #000;
  color: #3c2415;
  width: 45px;
  text-align: center;
  height: 100px;
  position: absolute;
  top: 15px;
  left: -10px;
  display: block;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  line-height: 75px;
}
.music_info .footer_comments .ms_comment .prev img {
  position: relative;
  top: 20px;
}
.music_info .footer_comments .ms_comment .next {
  background: #000;
  color: #3c2415;
  width: 45px;
  text-align: center;
  height: 100px;
  position: absolute;
  top: 15px;
  right: -10px;
  display: block;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  line-height: 75px;
}
.music_info .footer_comments .ms_comment .next img {
  position: relative;
  top: 20px;
}
.music_info .footer_comments .ms_comment section {
  width: 134px;
  border: 1px solid transparent;
  margin: 10px 10px 0 10px ;
}
.music_info .footer_comments .ms_comment section.active a img {
  border: 2px solid #f15a29;
}
.music_info .footer_comments .ms_comment section a {
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.music_info .footer_comments .ms_comment section a:first-child {
  height: 93px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.music_info .footer_comments .ms_comment section a:last-child {
  line-height: 30px;
  color: #414042;
  font-size: 14px;
}
.music_info .footer_comments .ms_comment section a img {
  width: 96%;
  height: 96%;
  border: 2px solid #ccced0;
}
.music_info .footer_comments .ms_comments_detail {
  padding: 10px;
}
.music_info .footer_comments .ms_comments_detail .comments_tetail {
  border-top: 1px solid #ccced0;
  width: 100%;
  margin-top: 10px;
}
.music_info .footer_comments .ms_comments_detail .comments_tetail ul li {
  line-height: normal;
}
.music_info .footer_comments .ms_comments_detail .comments_tetail .commentsImg {
  margin: 10px;
}
.music_info .footer_comments .ms_comments_detail .comments_tetail .commentsObj {
  padding: 8px;
  width: 725px;
  border-bottom: 1px dotted #b2b2b2;
  line-height: 32px;
}
.music_info .footer_comments .ms_comments_detail .comments_tetail .commentsObj > p {
  color: #808285;
}
.music_info .footer_comments .ms_comments_detail .comments_tetail .commentsObj > p a {
  color: #808285;
}
.music_info .footer_comments .ms_comments_detail .comments_tetail .commentsObj > p:first-child a {
  color: #414142;
}
.music_info .footer_comments .ms_comments_detail .comments_tetail .commentsoperate li {
  width: 70px;
  text-align: center;
}
.music_info .footer_comments .ms_comments_detail .comments_tetail .commentsoperate li a {
  color: #808184;
}
/* /.music-info   */
/*  分享插件 */
.music_pic {
  text-align: center;
}
.shareIMG {
  min-width: 80%;
  display: inline-block;
  position: relative;
}
.shareIMG .commonsahre {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.shareIMG:hover .commonsahre {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 8px;
  height: 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*  update */
#vedio {
  width: 600px;
  height: 450px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
